@import './../../styles/color-theme.styles.scss';

.NavBar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid $BORDER;
  min-width: 200px;

  .LinkListWrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1 1 auto;

    .NavItem {
      text-decoration: none;
      text-transform: capitalize;
      padding: 5px;
      border-bottom: 1px solid $BORDER;
      border-radius: 2px;

      &:hover {
        background-color: $HOVER_BG;
        color: $HOVER_T;
        transition-duration: 0.3s;
      }

      &:last-child {
        border: none;
      }
    }
  }

  .Credentials {
    padding: 10px;
  }
}
